.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--second-theme-color);
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--third-theme-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    text-decoration: none;

    background-image: -webkit-linear-gradient(to right, #fff, #fff);
    background-image: linear-gradient(to right, #fff, #fff);
    color: #FFF;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.5s ease;
}

.card:hover {
    background-image: -webkit-linear-gradient(to right, var(--first-main-color), var(--second-main-color));
    background-image: linear-gradient(to right, var(--first-main-color), var(--second-main-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    background: linear-gradient(to right, var(--first-main-color), var(--second-main-color));
    border-radius: 5px;
    width: 0;
    height: 3px;
    bottom: 2px;
    right: 0;
    transition: all 0.3s ease;
}

.card:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.card-img-container {
    height: 200px;
    overflow: hidden;
}

.card .cards-img {
    box-sizing: border-box;
    max-width: 260px;
    width: 100%;
    object-fit: contain;
}

.card .cards-line {
    margin: auto;
    max-width: 230px;
    width: 100%;
}

.card h3 {
    margin: auto 0;
    display: inline;
    font-size: 20px;
    font-weight: 500;
}

@media all and (max-width:740px) {
    .card {
        width: 250px;
        height: 300px;
        margin: 15px;
        padding: 15px;
    }

    .card h3 {
        font-size: 16px !important;
    }
}

@media all and (max-width:620px) {
    .card {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin: 15px;
        padding: 15px;
    }

    .card .card-img-container {
        width: 40%;
        padding: 10px;
        background-color: var(--third-theme-color);
        border-radius: 10px;
        height: auto;
    }

    .cards-img {
        box-sizing: border-box;
        width: 100%;
    }

    .card .cards-line {
        display: none;
    }

    .card h3 {
        display: flex;
        font-size: 16px !important;
        width: 50%;
        margin: 0 auto;
        text-align: left;
        align-items: center;
    }
}

@media all and (max-width:400px) {
    .card .card-img-container {
        padding: 5px;
        height: auto;
    }
}