footer {
    background-color: var(--first-theme-color);
    padding: 20px;
    text-align: center;
}

footer p.copy {
    margin-top: 20px;
    font-size: 14px;
}

footer a.icon h1 {
    width: auto;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

footer div div p {
    font-size: 14px;
}

footer div div p strong {
    margin-bottom: 10px;
    font-size: 16px;
}