header {
    background-color: var(--first-theme-color);
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a.icon h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: block;
    margin: auto 0;
    text-transform: uppercase;
    width: 220px;
}

/* header h1::before {
    content: "";
    width: 30px;
    height: 30px;
    background: url("/assets/icons-assets/gradient-shadow.png") no-repeat center center;
    top: 100px;
    position: absolute;
    display: inline-block;
    z-index: -1;
} */

header form {
    margin: 0 20px;
    flex: 1;
    /* display: none; */
}

header form input {
    border: none;
    background-color: var(--second-theme-color);
    height: 40px;
    max-width: 500px;
    border-radius: 10px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    outline: none;
    width: 100%;
}

#search-list {
    display: none;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style: none;
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:first-child) {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.site-nav {
    position: relative;
    background-image: -webkit-linear-gradient(to right, #fff, #fff);
    background-image: linear-gradient(to right, #fff, #fff);
    color: #FFF;
    -webkit-background-clip: text;
    background-clip: text;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.site-nav:hover {
    background-image: -webkit-linear-gradient(to right, var(--first-main-color), var(--second-main-color));
    background-image: linear-gradient(to right, var(--first-main-color), var(--second-main-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.site-nav::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, var(--first-main-color), var(--second-main-color));
    margin-top: 10px;
    border-radius: 5px;
    width: 0;
    height: 3px;
    top: 15px;
    right: 0;
    transition: all 0.3s ease;
}

.site-nav:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

@media all and (max-width:620px) {
    header h1 {
        font-size: 20px;
        width: 140px;
    }
}