.table-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
}

.table-line:nth-child(odd) {
    background-color: var(--third-theme-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.table-line .line-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.table-line .line-top .line-top-right {
    display: flex;
    flex-direction: row;
}

.table-line .line-top span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transform: rotate(0deg);
    transition: all 300ms;
    user-select: none;
}

.table-line .line-top span:hover {
    background-color: rgba(230, 230, 230, 0.05);
}

.table-line.expand .line-top span.expand-icon {
    transform: rotate(180deg) !important;
}

.table-line .line-top span.publish-icon {
    display: none;
}

span.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40;
}

.table-line .line-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.table-line.expand .line-content {
    display: flex;
    flex-wrap: wrap;
    max-height: 5000px;
    opacity: 1;
    margin-bottom: 5px;
}

.table-line .line-content input {
    display: block;
    box-sizing: border-box;
    max-width: 200px;
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--fourth-theme-color);
    font-family: 'Montserrat', sans-serif, "MontserratVariable";
    color: #fff;
    outline: none;
}