.cards-section-top {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.cards-section-top select {
    border: none;
    background-color: var(--second-theme-color);
    height: 40px;
    max-width: 500px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    outline: none;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.cards-section-top select option {
    margin: 10px;
}