.cards-section-top {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.cards-section-top select {
    border: none;
    background-color: var(--second-theme-color);
    height: 40px;
    max-width: 500px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px 20px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    outline: none;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.cards-section-top select option {
    margin: 10px;
}

.cards-section-main {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 800px) {
    .cards-section-main {
        flex-direction: column;
    }
}

/* @media all and (max-width: 700px) {
    .cards-section-main .cards-filter.frame {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
} */

.cards-section-main .cards-filter {
    flex-direction: column;
    margin: 20px;
    min-width: 250px;
    height: 100%;
}

.cards-filter .filter {
    display: flex;
    flex-direction: column;
    /* z-index: 50; */
}

.cards-filter .filter .flt-item {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.cards-filter h1 {
    font-size: 20px;
}

.cards-filter h2.flt-name {
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.cards-filter h3.flt-item-name {
    display: flex;
    font-size: 14px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 10px;
}

h2.flt-name,
h3.flt-item-name {
    font-weight: 500;
    margin: 0;
}

.flt-item div {
    width: 25px;
    height: 25px;
}

.checkbox {
    display: block;
    cursor: pointer;
    width: 21px;
    height: 21px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}

.checkbox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkbox input[type=checkbox]:checked+div {
    left: -10px;
    top: -10px;
}

.checkbox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease-in-out;
}

.cards-filter.frame .button {
    max-width: none;
    margin-top: 10px;
}